<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toyproject.mapper.UserMapper">
    <insert id="insertUser" parameterType="toyproject.controller.dto.RegisterRequestDto">
        INSERT INTO USER (
            USER_ID,
            USER_ID_EMAIL,
            USER_PWD,
            USER_NAME_KR,
            USER_PHONE,
            USER_ADDRESS,
            USER_ADDRESS_DETAIL
        ) VALUES (
            #{userId},
            #{email},
            #{password},
            #{name},
            #{phone},
            #{zipcode},
            #{detailAddress}
        )
    </insert>

    <!--USER_ID(사내 관리용 유저아이디) 최대번호 조회용 -> 조회 후 다음번호로 넘버링-->
    <select id="getMaxUserId" resultType="string">
        SELECT MAX(user_id) FROM USER
    </select>

    <!-- 이메일 중복 체크 -->
    <select id="isEmailDuplicated" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0 FROM USER WHERE USER_ID_EMAIL = #{email}
    </select>

    <!--  로그인용 SELECT 문 추가 -->
    <select id="findByEmail" parameterType="String" resultType="toyproject.controller.dto.LoginUserDto">
        SELECT USER_ID_EMAIL AS email,
               USER_PWD AS password,
               USER_ID AS userId,
               USER_POINT AS bonusPoint,
               USER_NAME_KR AS userName,
               USER_ADDRESS AS userAddress,
               USER_ADDRESS_DETAIL AS userAddressDetail,
               USER_PHONE AS userPhone
        FROM USER
        WHERE USER_ID_EMAIL = #{email}
    </select>

    <!-- 로그인 실패 횟수 증가 -->
    <update id="incrementFailCount" parameterType="String">
        UPDATE USER SET PWD_FAIL_COUNT = PWD_FAIL_COUNT + 1 WHERE USER_ID_EMAIL = #{email}
    </update>

    <!-- 로그인 실패 횟수 초기화 -->
    <update id="resetFailCount" parameterType="String">
        UPDATE USER SET PWD_FAIL_COUNT = 0 WHERE USER_ID_EMAIL = #{email}
    </update>

    <!-- 실패 횟수 조회 -->
    <select id="getFailCount" parameterType="String" resultType="int">
        SELECT PWD_FAIL_COUNT FROM USER WHERE USER_ID_EMAIL = #{email}
    </select>
</mapper>